<%= form_for(beacon) do |f| %>
  <% if beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beacon.errors.count, "error") %> prohibited this beacon from being saved:</h2>

      <ul>
      <% beacon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class ="well">
  <%= f.label :uuid %><br>
  <%= f.text_field :uuid %><br><br>
  <%= f.label :major %><br>
  <%= f.number_field :major %><br><br>
  <%= f.label :minor %><br>
  <%= f.number_field :minor %><br><br>
  <%= f.label "Alert Title" %><br>
  <%= f.text_field :alertTitle %><br><br>
  <%= f.label "Alert Message" %><br>
  <%= f.text_field :alertMessage %><br><br>
  <%= f.label :latitude %><br>
  <%= f.text_field :latitude %><br><br>
  <%= f.label :longitude %><br>
  <%= f.text_field :longitude %><br><br>
  <%= f.label :floorID %><br>
  <%= f.text_field :floorID %><br><br>
  <%= f.label :buildingID %><br>
  <%= f.text_field :buildingID %><br><br>
  <%= f.label :poiID %><br>
  <%= f.text_field :poiID %><br><br>
  <%= f.label "Dwell Beacon" %><br>
  <%= f.check_box :dwell_beacon %><br><br>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>
