<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<h1>Beacons</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Major</th>
      <th>Minor</th>
      <th>Alert Title</th>
      <th>Alert Message</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Floor ID</th>
      <th>Building ID</th>
      <th>POI ID</th>
      <th>POI Nane</th>
      <th>Dwell Beacon</th>

      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @beacons.each do |beacon| %>
      <tr>
        <td><%= beacon.uuid %></td>
        <td><%= beacon.major %></td>
        <td><%= beacon.minor %></td>
        <td><%= beacon.alertTitle %></td>
        <td><%= beacon.alertMessage %></td>
        <td><%= beacon.latitude %></td>
        <td><%= beacon.longitude %></td>
        <td><%= beacon.floorID %></td>
        <td><%= beacon.buildingID %></td>
        <td><%= beacon.poiID %></td>
        <td><%= beacon.poiName %></td>
        <td><%= beacon.dwell_beacon %></td>
        <td><%= link_to 'Show', beacon, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_beacon_path(beacon), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', beacon, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beacon', new_beacon_path, class: "btn btn-primary" %>
